{{ _auto_generated_preamble }}
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', own_ca_crt_path) | b64encode | to_json }}
    server: https://[{{ networking_fixed_ip }}]:{{ k8s_apiserver_frontend_port | to_json }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: calico-cni
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: calico-cni
  user:
    client-certificate-data: {{ lookup('file', calico_cni_crt_path) | b64encode | to_json }}
    client-key-data: {{ lookup('file', calico_cni_key_path) | b64encode | to_json }}
