apiVersion: v1
kind: Service
metadata:
  name: nginx-service-single-stack-v4
  namespace: {{ check_services_namespace | to_json }}
spec:
  selector:
    app: nginx-single-stack-v4
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - protocol: TCP
      nodePort: {{ deprecated_nodeport_lb_test_port }}
      port: 8080
      targetPort: 8080
  type: NodePort

---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: nginx-single-stack-v4
  name: nginx-single-stack-v4
  namespace: {{ check_services_namespace | to_json }}
spec:
  securityContext:
    runAsNonRoot: true
    runAsUser: 24635
    runAsGroup: 24635
    fsGroup: 24635
  containers:
  - image: registry.gitlab.com/yaook/images/k8s-nginx:main
    name: nginx-single-stack-v4
    resources: {}
  dnsPolicy: ClusterFirst
  restartPolicy: Never
status: {}

