{{ _auto_generated_preamble }}

frontend k8s_prometheus_front
  bind {{ networking_fixed_ip }}:{{ k8s_global_monitoring_nodeport }}
  {% if dualstack_support %}
  bind {{ networking_fixed_ip_v6 }}:{{ k8s_global_monitoring_nodeport }} transparent
  {% endif %}
  mode tcp
  log global
  option tcplog
  timeout client 600s
  default_backend k8s_prometheus_back

backend k8s_prometheus_back
  mode tcp
  option httpchk GET /-/healthy "HTTP/1.1\r\nHost: 192.168.0.14\r\n\r\n"
  http-check expect status 200
  option redispatch
  log global
  balance roundrobin
  timeout connect 10s
  timeout server 600s

  {% for host in groups['masters'] %}
  server {{ host }} {{ hostvars[host]['local_ipv4_address'] }}:{{ k8s_global_monitoring_nodeport }} check verify none
  {% if dualstack_support %}
  server {{ host }} {{ hostvars[host]['local_ipv6_address'] }}:{{ k8s_global_monitoring_nodeport }} check verify none
  {% endif %}
  {% endfor %}
